# Transformación del dataset

In [4]:
import xarray as xr
import pandas as pd
import numpy as np
ds = xr.open_dataset('global-marine-litter-2021.nc')
df = ds.to_dataframe()

In [5]:
lon = df['lon'].values
lat = df['lat'].values

In [6]:

samples = np.arange(0, len(lon)//366, 1, dtype=int)
trajectoria = np.repeat(samples, 366)

In [8]:

days = [i for i in range(366)]
b = days*(len(lon)//366)

In [9]:
dic = {'id':trajectoria, 'days':b, 'lon':lon, 'lat':lat}

In [10]:

d = pd.DataFrame(dic)

In [11]:

d

               id  days         lon        lat
0               0     0 -175.496201 -21.259300
1               0     1 -175.740204 -21.281717
2               0     2 -175.841034 -21.276018
3               0     3 -175.884720 -21.318092
4               0     4 -176.024948 -21.361267
...           ...   ...         ...        ...
141861595  387599   361   91.427315  21.585546
141861596  387599   362   91.408577  21.539993
141861597  387599   363   91.397980  21.507757
141861598  387599   364   91.371414  21.428843
141861599  387599   365   91.368362  21.345936

[141861600 rows x 4 columns]

In [12]:
d.to_csv('data.csv', index=False)

In [ ]:
df1 = pd.read_csv("initial-locations-global.csv")
df1 = df1.iloc[:2000, :]
df1 = df1.drop(['weight [ton]', "source [0:land, 1:river]","country id","distance to coast [km]"], axis=1)

d = d.drop(d.columns[0], axis=1)

countries = df1.loc[:, "country"].values
countries = np.repeat(countries, 366, axis = None)

d['Country'] = countries

d.to_csv("data_countries.csv", index=False)