In [54]:
import pandas as pd
import numpy as np

df = pd.read_csv('data.csv')

In [39]:
start = df[(df.days == 0 ) | (df.days == 365)]

In [41]:
start

               id  days         lon        lat
0               0     0 -175.496200 -21.259300
365             0   365  178.258940 -23.204432
366             1     0 -175.536900 -21.052700
731             1   365  167.681800 -25.262985
732             2     0 -174.884000 -21.178800
...           ...   ...         ...        ...
141860867  387597   365   91.396355  21.316368
141860868  387598     0         NaN        NaN
141861233  387598   365   91.353570  21.269978
141861234  387599     0         NaN        NaN
141861599  387599   365   91.368360  21.345936

[775200 rows x 4 columns]

In [57]:
array = start[['lon', 'lat']].values

In [58]:
array = array.reshape(len(array)//2, 4)

d1 = pd.DataFrame(array, columns=['lon_x', 'lat_x', 'lon_y', 'lay_y'])

In [60]:
d1 = d1.dropna()
d1.to_csv('cleaned_data.csv')